<%= f.hidden_field :status, value: :pending %>
<div class="md-form">
  <%= f.select :course_id,
      @courses.collect {|course| [course.name, course.id ]},
      {}, {class: "mdb-select colorful-select dropdown-primary"} %>
  <%= f.label :course_id %>
</div>
<label for="">
    <%= t "page.admin.questions.new.question_information.content" %>
  </label>
<div class="md-form">
  <%= f.hidden_field :content, class: "md-textarea" %>
  <div id="editor-container"></div>
  <script>
    var quill = new Quill('#editor-container', {
    modules: {
      toolbar: [
        ['bold', 'italic'],
        ['link', 'blockquote', 'code-block', 'image'],
        [{ list: 'ordered' }, { list: 'bullet' }]
      ]
    },
    placeholder: 'Write content here...',
    theme: 'snow'
  });
  </script>
</div>
<div class="switch">
  <label>
    Suggestion
    <input type="checkbox" class="switch_suggestion" <%= (!question.suggestion.nil? && question.suggestion.length > 0) ? 'checked' : '' %>>
    <span class="lever"></span>
  </label>
</div>
<div class="md-form <%= (!question.suggestion.nil? && question.suggestion.length > 0 ) ? '' : 'hidden-xs-up' %> suggestion_area">
  <%= f.hidden_field :suggestion, class: "md-textarea" %>
  <div id="editor-container-1"></div>
  <script>
    var quill1 = new Quill('#editor-container-1', {
    modules: {
      toolbar: [
        ['bold', 'italic'],
        ['link', 'blockquote', 'code-block', 'image'],
        [{ list: 'ordered' }, { list: 'bullet' }]
      ]
    },
    placeholder: 'Write content here...',
    theme: 'snow'
  });
  </script>
</div>

<br/>

<div class="md-form">
  <%= f.select :complexity,
      Settings.complexity.collect {|c| [c]},
      {}, {class: "mdb-select colorful-select dropdown-primary"} %>
  <%= f.label :complexity %>
</div>
