<%= form_for Note.new do |f| %>
  <%= f.hidden_field :test_id, value: test.id %>
  <%= f.hidden_field :week_id, value: test.week.id %>
  <div class="md-form">
    <%= f.text_area :content, class: "md-textarea" %>
  </div>
  <%= f.submit "Save", class: "btn btn-gray save_note" %>
<% end %>
