<!--Carousel Wrapper-->
<%= render "partials/carousel" %>
<!--/.Carousel Wrapper-->
<br/>
<div class="container">
  <div class="row" id="coursesSection">
    <hr class="horizontal" />
    <div class="col-md-12">
      <p class="flex-center courses-title"><%= t "page.home.courses.title" %></p>
    </div>
  </div>
  <% @courses.in_groups_of(3) do |g| %>
    <div class="row">
      <% g.compact.each do |course| %>
        <div class="col-md-4">
          <!--Card-->
          <div class="card">

            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <% unless course.image.thumb.url.nil? %>
                <%= image_tag course.image.thumb.url, alt: "", class: "img-fluid" %>
              <% else  %>
                <%= image_tag Faker::Placeholdit.image('ffffff'), alt: "", class: "img-fluid" %>
              <% end %>
              <a href="<%= admin_course_path(course) %>">
                <div class="mask"></div>
              </a>
            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-block">
              <!--Title-->
              <h4 class="card-title"><%= course.name %></h4>
              <!--Text-->
              <p class="card-text"><%= course.description %></p>
              <a href="<%= course_path(course) %>" class="btn btn-primary"><%= t "page.home.courses.button" %></a>
            </div>
            <!--/.Card content-->

          </div>
          <!--/.Card-->
        </div>
      <% end %>
    </div>
  <% end %>

  <%= render "partials/contact" %>
</div>


