<div id="carousel-example-1" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-1" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-1" data-slide-to="1"></li>
    <li data-target="#carousel-example-1" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">
      <!--Caption-->
      <div class="flex-center animated fadeInDown">
        <ul>
          <li>
            <h1 class="h1-responsive">
              <%= t "layout.carousels.carousel1.title" %>
            </h1>
          </li>
          <li>
            <p class="flex-center"><%= t "layout.carousels.carousel1.content" %></p>
          </li>
          <li>
            <a target="_blank" href="http://mdbootstrap.com/getting-started/" class="btn btn-info btn-lg carousel-button"><%= t "layout.carousels.carousel1.button" %></a>
          </li>
        </ul>
      </div>
      <!--Caption-->
    </div>
    <!--/.First slide-->

    <!--Second slide -->
    <div class="carousel-item">
      <!--Caption-->
      <div class="flex-center animated fadeInDown">
        <ul>
          <li>
            <h1 class="h1-responsive">
              <%= t "layout.carousels.carousel2.title" %>
            </h1>
          </li>
          <li>
            <p><%= t "layout.carousels.carousel2.content" %></p>
          </li>
          <li>
            <a target="_blank" href="http://mdbootstrap.com/bootstrap-tutorial/" class="btn btn-primary btn-lg carousel-button"><%= t "layout.carousels.carousel2.button.signup" %></a>
            <a target="_blank" href="http://mdbootstrap.com/bootstrap-tutorial/" class="btn btn-success btn-lg carousel-button"><%= t "layout.carousels.carousel2.button.signin" %></a>
          </li>
        </ul>
      </div>
      <!--Caption-->
    </div>
    <!--/.Second slide -->

    <!--Third slide-->
    <div class="carousel-item">
      <!--Caption-->
      <div class="flex-center animated fadeInDown">
        <ul>
          <li>
            <h1 class="h1-responsive"><%= t "layout.carousels.carousel3.title" %></h1></li>
            <li>
              <p><%= t "layout.carousels.carousel3.content" %></p>
            </li>
            <li>
              <a target="_blank" href="http://mdbootstrap.com/forums/forum/support/" class="btn btn-default btn-lg carousel-button"><%= t "layout.carousels.carousel3.button" %></a>
            </li>
          </ul>
        </div>
        <!--Caption-->
      </div>
      <!--/.Third slide-->
    </div>
    <!--/.Slides-->

    <!--Controls-->
    <a class="left carousel-control" href="#carousel-example-1" role="button" data-slide="prev">
      <span class="icon-prev" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-1" role="button" data-slide="next">
      <span class="icon-next" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>

