<footer class="page-footer center-on-small-only">

  <!--Footer Links-->
  <div class="container-fluid">
    <div class="row">
      <!--First column-->
      <div class="col-md-5 offset-md-1">
        <h5 class="title"><%= t "layout.footer.about-us" %></h5>
        <p><%= t "layout.footer.about-coderschool" %></p>
      </div>
      <!--/.First column-->

      <hr class="hidden-md-up">

      <!--Second column-->
      <div class="col-md-5 offset-md-1">
        <h5 class="title"><%= t "layout.footer.find_our_more" %></h5>
        <ul>
          <li><a href="#!"><%= t "layout.footer.links.link1" %></a></li>
          <li><a href="#!"><%= t "layout.footer.links.link2" %></a></li>
          <li><a href="#!"><%= t "layout.footer.links.link3" %></a></li>
          <li><a href="#!"><%= t "layout.footer.links.link4" %></a></li>
        </ul>
      </div>
      <!--/.Second column-->

    </div>
  </div>
  <!--/.Footer Links-->

  <hr>

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      Developed by <a href="https://github.com/DTTProject/DTTOnlineTest">DTT Team</a> | 10-2016 Coderschool

    </div>
  </div>
  <!--/.Copyright-->

</footer>
