<nav class="navbar navbar-dark navbar-fixed-top scrolling-navbar test_nav">
  <!-- Collapse button-->
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx">
    <i class="fa fa-bars"></i>
  </button>
  <div class="container">
    <!--Collapse content-->
    <div class="collapse navbar-toggleable-xs" id="collapseEx">
      <!--Navbar Brand-->
      <a class="navbar-brand" href="/" target="_blank"><%= t "layout.navbar.brand" %></a>
      <!--Links-->
      <ul class="nav navbar-nav float-xs-right nav-head">
        <li class="nav-item active">
          <a class="nav-link home_link" href="#">
            <i class="fa fa-home" aria-hidden="true"></i>
            <%= t "layout.navbar.home" %><span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="courses" href="#coursesSection"><%= t "layout.navbar.courses" %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact" href="#contactSection"><%= t "layout.navbar.feedback" %></a>
        </li>
        <li class="nav-item user_email">
          <a class="nav-link" id="contact" href="#contactSection">
            <%= user_signed_in? ? current_user.email : " "  %>
          </a>
          <ul class="drop-menu menu-1">
            <li>
              <%= link_to '#' do %>
                User Profile
              <% end %>
            </li>
            <li>
              <%= link_to '#' do %>
                Change Password
              <% end %>
            </li>
            <li>
               <%= link_to t("devise.logout"),
          destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!--/.Collapse content-->
  </div>
</nav>
