<h1>Create An Account</h1>

<%= form_for @user do |f| %>
  <% unless @user.errors.empty? %>
    <div class="alert alert-danger">
      <%= @user.errors.full_messages.to_sentence %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", class: "form-control" %>
  </div>

  <%= f.submit "Create Account", class: "btn btn-secondary"%>
<% end %>