<%= f.hidden_field :status, value: :accepted %>
<div class="md-form">
  <%= f.select :course_id,
      @courses.collect {|course| [course.name, course.id ]},
      {}, {class: "mdb-select colorful-select dropdown-primary"} %>
  <%= f.label :course_id %>
</div>

<div class="md-form">
  <%= f.text_area :content, class: "md-textarea" %>
  <label for="">
    <%= t "page.admin.questions.new.question_information.content" %>
  </label>
</div>
<div class="switch">
  <label>
    Suggestion

    <input type="checkbox" class="switch_suggestion" <%= (!question.suggestion.nil? && question.suggestion.length > 0) ? 'checked' : '' %>>
    <span class="lever"></span>
  </label>
</div>
<div class="md-form <%= (!question.suggestion.nil? && question.suggestion.length > 0 ) ? '' : 'hidden-xs-up' %> suggestion_area">
  <%= f.text_area :suggestion, class: "md-textarea" %>
</div>

<br/>

<div class="md-form">
  <%= f.select :complexity,
      Settings.complexity.collect {|c| [c]},
      {}, {class: "mdb-select colorful-select dropdown-primary"} %>
  <%= f.label :course_id %>
</div>
