<tr>
  <td>
    <fieldset class="form-group">
      <input type="checkbox" id="checkbox1">
      <label for="checkbox1"></label>
    </fieldset>
  </td>
  <th scope="row"><%= index + 1 %></th>
  <td><%= question.content %></td>
  <td><%= question.course.name %></td>
  <td><%= question.complexity %></td>
  <td>
    <%= link_to edit_admin_question_path(question), class: "teal-text" do %>
      <i class="fa fa-pencil"></i>
    <% end %>
    <a class="red-text question_<%= question.id %>" data-toggle="modal" data-target="#model_delete_question" id="<%= question.id %>"><i class="fa fa-times"></i></a>
  </td>
</tr>
