<div class="col-md-12">
  <h6 class="secondary-text">
    <i class="fa fa-comments-o" aria-hidden="true" style="margin-right: 10px"></i>
    <%= pluralize(comments.size, 'comment') %>
  </h6>
  <p>You only have feeling after finished exam</p>

  <hr/>
  <% comments.each do |comment| %>
    <div class="media">
        <a class="media-left waves-light">
          <% if comment.user.avatar.nil? %>
            <%= image_tag "default_uer.png", class: "rounded-circle", alt: "Default User Avatar" %>
          <% else %>
            <%= image_tag comment.user.avatar, class: "rounded-circle user_comment_avatar", alt: "User Avatar" %>
          <% end %>
        </a>
        <div class="media-body">
            <h4 class="media-heading"><%= comment.user.name %></h4>
            <div class="review-rating" data-score="<%= comment.rating %>"></div>
            <p>
              <%= comment.content %>
            </p>
        </div>
    </div>
  <% end %>
</div>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    },
    path: '/assets/'

  });
</script>
<script>
    $('.average_rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function(){
      return $(this).attr('data-score');
    }

  });
</script>
