<div class="row">
  <div class="col-md-12">
    <h6 class="text-danger">
      <i class="fa fa-star-half-o" aria-hidden="true"></i>
      <%= t "page.results.left.score" %>
    </h6>
    <p class="text-strong"><%= test.score %></p>
    <div class="conclusion">
      <% arr =  test.score.split("/") %>
      <% if (arr[0].to_f / arr[1].to_f) > 0.7 %>
        <div class="card">
          <!--Card image-->
          <div class="view overlay hm-white-slight">
              <!-- <img src="http://mdbootstrap.com/images/reg/reg%20(2).jpg" class="img-fluid" alt=""> -->
              <%= image_tag "win.jpg", class: "img-fluild" %>
              <a href="#">
                  <div class="mask"></div>
              </a>
          </div>
          <!--/.Card image-->
          <!--Card content-->
          <div class="card-block">
              <p class="card-text text-success">Good Job!!!</p>
          </div>
          <!--/.Card content-->
        </div>
      <% else %>
        <div class="card">
          <!--Card image-->
          <div class="view overlay hm-white-slight">
              <!-- <img src="http://mdbootstrap.com/images/reg/reg%20(2).jpg" class="img-fluid" alt=""> -->
              <%= image_tag "fail.jpg", class: "img-fluild" %>
              <a href="#">
                  <div class="mask"></div>
              </a>
          </div>
          <!--/.Card image-->
          <!--Card content-->
          <div class="card-block">
              <p class="card-text text-danger">Oh!!! Seem you havent good preparation for this test! Try again.</p>
          </div>
          <!--/.Card content-->
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-12" style="margin-top: 3rem">
    <h5 class="text-center text-strong text-info">
      Detail Result
    </h5>
    <div class="detail">
      <div class="row">
        <% test.results.each_with_index do |result, index| %>
          <div class="col-md-3 <%= (result.answer.nil? || !result.answer.correct?) ? 'wrong_result' : 'success_result'%>">
            <strong><%= index + 1 %></strong>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <a href="#" data-toggle="modal" data-target="#modal_comment" class="give_comment">
      <i class="fa fa-comment-o" aria-hidden="true"></i>
      Give Us A Comment
    </a>
    <div class="modal fade" id="modal_comment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <!--Content-->
        <%= form_for Comment.new do |f| %>
          <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Your's Comment and Review</h4>
            </div>
            <!--Body-->
            <div class="modal-body">
                <%= f.hidden_field :course_id , value: test.week.course.id %>
                <div id="rating-form" class="md-form">
                  <%= f.label :rating, "Rating" %>
                </div>

                <div class="md-form">
                  <%= f.text_area :content, placeholder: "Say something ....", class: "md-textarea" %>
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        <% end %>
        <!--/.Content-->
      </div>
    </div>
  </div>
</div>
<script>
$("#rating-form").raty({
  path: '/assets/',
  scoreName: 'comment[rating]'
});
</script>
