<div class="content course_detail">
  <div class="<%= params[:week_id] ? 'container-fluid' : 'container' %>">
    <div class="row">
      <div class="col-md-12 ">
        <div class="row">
          <% if params[:week_id] %>
            <div class="col-md-3">
              <h5 class="text-primary"><i class="fa fa-sticky-note-o" aria-hidden="true"></i> Notes</h5>
              <hr>
              <ul class="list_notes">
                <% @week.notes.each do |note| %>
                  <li><%= note.content %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="<%= params[:week_id] ? 'col-md-9' : 'col-md-12' %>">
            <h5 class="text-success">
              <i class="fa fa-info" aria-hidden="true"></i>
              <%= t "page.tests.index.title" %>
              <% if params[:week_id] %>
              in week: <%= @week.content %>
              <% end %>
            </h5>
            <table class="table" id="user_tests">
              <thead>
                <tr>
                  <th data-field="stt">
                    <%= t "page.tests.index.tables.stt" %>
                  </th>
                  <th data-field="course">
                    <%= t "page.tests.index.tables.course" %>
                  </th>
                  <th data-field="status">
                    <%= t "page.tests.index.tables.status" %>
                  </th>
                  <th data-field="spent_time">
                    <%= t "page.tests.index.tables.spend_time" %>
                  </th>
                  <th data-field="score">
                    <%= t "page.tests.index.tables.score" %>
                  </th>
                  <th data-field="action" class="center-align">
                    <%= t "page.tests.index.tables.action" %>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% @tests.each_with_index do |test, index| %>
                  <%= render "test", test: test, index: index %>
                <% end %>
              </tbody>
            </table>
            <%= paginate @tests %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
