<div class="content course_detail">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <h5 class="text-success">
          <i class="fa fa-info" aria-hidden="true"></i>
          <%= t "page.tests.index.title" %>
        </h5>
        <div class="row">
          <div class="col-md-12">
            <%= form_for Test.new do |f| %>
              <div class="collect">
                <%= f.select :course_id,
                  @courses.collect {|course| [course.name, course.id ]},
                  {}, {class: "mdb-select colorful-select dropdown-primary"} %>
                <%= f.label :course_id %>
                <%= f.hidden_field :status, value: :start %>
                <%= f.hidden_field :user_id, value: current_user.id %>
              </div>
              <%= submit_tag "Create Test",
                class: "btn btn-md btn-primary pink" %>
            <% end %>
          </div>
          <div class="col-md-12">
            <table class="table" id="user_tests">
              <thead>
                <tr>
                  <th data-field="stt">
                    <%= t "page.tests.index.tables.stt" %>
                  </th>
                  <th data-field="course">
                    <%= t "page.tests.index.tables.course" %>
                  </th>
                  <th data-field="status">
                    <%= t "page.tests.index.tables.status" %>
                  </th>
                  <th data-field="spent_time">
                    <%= t "page.tests.index.tables.spend_time" %>
                  </th>
                  <th data-field="score">
                    <%= t "page.tests.index.tables.score" %>
                  </th>
                  <th data-field="action" class="center-align">
                    <%= t "page.tests.index.tables.action" %>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% @tests.each_with_index do |test, index| %>
                  <%= render "test", test: test, index: index %>
                <% end %>
              </tbody>
            </table>
            <%= paginate @tests %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
