<div class="content do_test">
  <div class="container-fluid test_container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center text-strong">
          Doing Test
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <% if @test.start? || @test.testing? %>
          <%= render "clock_count_down", hour: @hour, minute: @minute, second: @second %>
        <% else %>
          <%= render "left_bar_result", test: @test %>
        <% end %>
      </div>
      <div class="col-md-6 center_area_test">

          <%= form_for @test do |f| %>
            <%= f.fields_for :results do |result| %>
              <%= render "question", f: result %>
            <% end %>
            <div class="examination_buttons">
              <button type="submit" name="test[status]"
                class="btn waves-effect waves-light green" value="testing">
                <%= t "page.front-end.examination.do.save" %>
              </button>
              <button type="submit" name="test[status]"
                class="btn waves-effect waves-light blue right finish_exam" value="finished">
                <%= t "page.front-end.examination.do.finish" %>
              </button>
            </div>
          <% end %>

      </div>
      <div class="col-md-3">
        <h6 class="text-warning">
          <i class="fa fa-trophy" aria-hidden="true"></i>
          <%= t "page.courses.detail.best_score"  %>
        </h6>
        <div class="row">
          <%= render "best_score" %>
        </div>
      </div>
    </div>
  </div>
</div>
