<% content_for :admin_header_title do %>
  <%= t "page.admin.courses.header_title" %>
<% end %>

<section class="container">
<div class="container-fluid">
    <% @courses.in_groups_of(2) do |g| %>
      <div class="row">
        <% g.compact.each do |e| %>
            <%= render e %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-new-course">
  <i class="fa fa-plus" aria-hidden="true"></i> <%= t "courses.new_course" %>
</button>

<%= render 'modal_new' %>
<%= render 'modal_edit' %>
<script type="text/javascript">
  initializeCourseDelete();
</script>
