<!DOCTYPE html>
<html>
  <%= render "partials/head" %>
  <body class="fixed-sn mdb-skin admin_panel">
    <%= render "shared/message"%>
    <!-- Message toast -->
    <!--Double navigation-->
    <%= render "admin/partials/header" %>
    <!--/Double navigation-->

    <!--Main layout-->
    <main class="admin_content">
      <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 offset-md-2">
          <div class="header_title">
            <h3><%= yield :admin_header_title %></h3>
          </div>
          <hr/>
          <div class="content_detail">
            <%= yield %>
          </div>
        </div>
      </div>
      </div>
    </main>
    <!--/Main layout-->
    <%= render "admin/partials/footer" %>
    <script src="//cdn.quilljs.com/1.1.5/quill.min.js"></script>
  </body>
</html>

