<!DOCTYPE html>
<html>
  <%= render "partials/head" %>
  <body class="<%= current_page?(root_url) ? '' : 'normal_body' %>">
    <!-- Message toast -->
    <%= render "shared/message"%>
    <!--Navbar-->
    <%= render "partials/navbar" %>
    <!--/.Navbar-->
    <!--Content-->
    <%= yield %>
    <!--/.Content-->
    <!--Footer-->
    <%= render "partials/footer" %>
    <%= render "partials/modal_register" %>
    <%= render "partials/modal_login" %>
  </body>
</html>
