<!DOCTYPE html>
<html>
  <head>
    <title><%= t "page.home.title" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Message toast -->
    <%= render "shared/message"%>
    <!--Navbar-->
    <%= render "partials/navbar" %>
    <!--/.Navbar-->

    <!--Carousel Wrapper-->
    <%= render "partials/carousel" %>
    <!--/.Carousel Wrapper-->

    <br>
    <!--Content-->
    <%= yield %>
    <!--/.Content-->



    <!--Footer-->
    <%= render "partials/footer" %>
  </body>
</html>
