<!DOCTYPE html>
<html>
  <%= render "partials/head" %>
  <body>
    <!-- Message toast -->
    <%= render "shared/message"%>
    <!--Navbar-->
    <%= render "partials/navbar" %>
    <!--/.Navbar-->

    <!--Carousel Wrapper-->
    <%= render "partials/carousel" %>
    <!--/.Carousel Wrapper-->

    <br>
    <!--Content-->
    <%= yield %>
    <!--/.Content-->



    <!--Footer-->
    <%= render "partials/footer" %>
  </body>
</html>
